<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:si="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/integration
	http://www.springframework.org/schema/integration/spring-integration.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- This allows for overriding any property found in property file
		     by setting a corresponding system.property variable.
		     Default behavior is using test database, to use production database,
		     do System.setProperty("jdbc.url", "prod url") or run JVM with -D.		-->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="location">
			<value>classpath:local.jdbc.properties</value>
		</property>
	</bean>

	<!-- TASK EXECUTOR -->

	<task:executor id="taskExecutor" pool-size="4"/>

	<!-- INTEGRATION CHANNELS -->
	<si:channel id="libraryPresenceChannel">
       <si:queue capacity="10"/>
	</si:channel>

	<si:channel id="libraryMetadataChannel">
       <si:queue capacity="10"/>
	</si:channel>

	<si:channel id="libraryAdditionChannel">
       <si:queue capacity="10"/>
	</si:channel>

	<si:channel id="libraryDeletionChannel">
       <si:queue capacity="10"/>
	</si:channel>
	
	<si:channel id="scrobbleChannel">
		<si:queue capacity="100"/>
	</si:channel>
	

	<!--  SERVICES -->

	<bean id="musicBrainzService" class="com.github.hakko.musiccabinet.service.MusicBrainzService">
		<property name="musicBrainzArtistDao" ref="musicBrainzArtistDao"/>
		<property name="musicBrainzAlbumDao" ref="musicBrainzAlbumDao"/>
		<property name="artistQueryClient" ref="artistQueryClient"/>
		<property name="releaseClient" ref="releaseClient"/>
	</bean>

	<bean id="directoryBrowserService" class="com.github.hakko.musiccabinet.service.DirectoryBrowserService">
		<property name="directoryBrowserDao" ref="directoryBrowserDao"/>
		<property name="libraryPresenceDao" ref="libraryPresenceDao"/>
	</bean>

	<bean id="starService" class="com.github.hakko.musiccabinet.service.StarService">
		<property name="lastFmDao" ref="lastFmDao"/>
		<property name="starDao" ref="starDao"/>
		<property name="musicDao" ref="musicDao"/>
		<property name="libraryBrowserDao" ref="libraryBrowserDao"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
		<property name="trackLoveClient" ref="trackLoveClient"/>
		<property name="trackUnLoveClient" ref="trackUnLoveClient"/>
	</bean>

	<bean id="lastFmService" class="com.github.hakko.musiccabinet.service.LastFmService">
		<property name="lastFmDao" ref="lastFmDao"/>
		<property name="authSessionClient" ref="authSessionClient"/>
	</bean>

	<bean id="scrobbleService" class="com.github.hakko.musiccabinet.service.ScrobbleService">
		<property name="scrobbleChannel" ref="scrobbleChannel"/>
		<property name="updateNowPlayingClient" ref="updateNowPlayingClient"/>
		<property name="scrobbleClient" ref="scrobbleClient"/>
		<property name="lastFmDao" ref="lastFmDao"/>
		<property name="playCountDao" ref="playCountDao"/>
	</bean>

	<bean id="databaseAdministrationService" class="com.github.hakko.musiccabinet.service.DatabaseAdministrationService">
		<property name="databaseAdministrationDao" ref="databaseAdministrationDao"/>	
	</bean>

	<bean id="libraryScannerService" class="com.github.hakko.musiccabinet.service.library.LibraryScannerService">
		<property name="libraryPresenceChannel" ref="libraryPresenceChannel"/>
		<property name="taskExecutor" ref="taskExecutor"/>
		<property name="libraryPresenceService" ref="libraryPresenceService"/>
		<property name="libraryMetadataService" ref="libraryMetadataService"/>
		<property name="libraryAdditionService" ref="libraryAdditionService"/>
		<property name="libraryDeletionService" ref="libraryDeletionService"/>
	</bean>

	<bean id="libraryPresenceService" class="com.github.hakko.musiccabinet.service.library.LibraryPresenceService">
		<property name="libraryPresenceChannel" ref="libraryPresenceChannel"/>
		<property name="libraryMetadataChannel" ref="libraryMetadataChannel"/>
		<property name="libraryDeletionChannel" ref="libraryDeletionChannel"/>
		<property name="libraryPresenceDao" ref="libraryPresenceDao"/>
	</bean>

	<bean id="libraryMetadataService" class="com.github.hakko.musiccabinet.service.library.LibraryMetadataService">
		<property name="libraryMetadataChannel" ref="libraryMetadataChannel"/>
		<property name="libraryAdditionChannel" ref="libraryAdditionChannel"/>
		<property name="audioTagService" ref="audioTagService"/>
	</bean>

	<bean id="libraryAdditionService" class="com.github.hakko.musiccabinet.service.library.LibraryAdditionService">
		<property name="libraryAdditionChannel" ref="libraryAdditionChannel"/>
		<property name="libraryAdditionDao" ref="libraryAdditionDao"/>
	</bean>

	<bean id="libraryBrowserService" class="com.github.hakko.musiccabinet.service.LibraryBrowserService">
		<property name="libraryBrowserDao" ref="libraryBrowserDao"/>
	</bean>

	<bean id="audioTagService" class="com.github.hakko.musiccabinet.service.library.AudioTagService">
	</bean>

	<bean id="libraryDeletionService" class="com.github.hakko.musiccabinet.service.library.LibraryDeletionService">
		<property name="libraryDeletionChannel" ref="libraryDeletionChannel"/>
		<property name="libraryDeletionDao" ref="libraryDeletionDao"/>
	</bean>

	<bean id="throttleService" class="com.github.hakko.musiccabinet.service.lastfm.ThrottleService">
	</bean>

	<bean id="lastFmSettingsService" class="com.github.hakko.musiccabinet.service.lastfm.LastFmSettingsService">
	</bean>

	<bean id="artistInfoService" class="com.github.hakko.musiccabinet.service.lastfm.ArtistInfoService">
		<property name="artistInfoClient" ref="artistInfoClient"/>
		<property name="artistInfoDao" ref="artistInfoDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>	

	<bean id="albumInfoService" class="com.github.hakko.musiccabinet.service.lastfm.AlbumInfoService">
		<property name="albumInfoClient" ref="albumInfoClient"/>
		<property name="albumInfoDao" ref="albumInfoDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>

	<bean id="artistRelationService" class="com.github.hakko.musiccabinet.service.lastfm.ArtistRelationService">
		<property name="artistSimilarityClient" ref="artistSimilarityClient"/>
		<property name="artistRelationDao" ref="artistRelationDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>	

	<bean id="artistTopTracksService" class="com.github.hakko.musiccabinet.service.lastfm.ArtistTopTracksService">
		<property name="artistTopTracksClient" ref="artistTopTracksClient"/>
		<property name="artistTopTracksDao" ref="artistTopTracksDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>	

	<bean id="artistTopTagsService" class="com.github.hakko.musiccabinet.service.lastfm.ArtistTopTagsService">
		<property name="artistTopTagsClient" ref="artistTopTagsClient"/>
		<property name="artistTopTagsDao" ref="artistTopTagsDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>	
	
	<bean id="scrobbledTracksService" class="com.github.hakko.musiccabinet.service.lastfm.ScrobbledTracksService">
		<property name="scrobbledTracksClient" ref="scrobbledTracksClient"/>
		<property name="trackPlayCountDao" ref="trackPlayCountDao"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="tagInfoService" class="com.github.hakko.musiccabinet.service.lastfm.TagInfoService">
		<property name="tagInfoClient" ref="tagInfoClient"/>
		<property name="tagInfoDao" ref="tagInfoDao"/>
		<property name="tagDao" ref="tagDao"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="userTopArtistsService" class="com.github.hakko.musiccabinet.service.lastfm.UserTopArtistsService">
		<property name="userTopArtistsClient" ref="userTopArtistsClient"/>
		<property name="userTopArtistsDao" ref="userTopArtistsDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="userRecommendedArtistsService" class="com.github.hakko.musiccabinet.service.lastfm.UserRecommendedArtistsService">
		<property name="userRecommendedArtistsClient" ref="userRecommendedArtistsClient"/>
		<property name="userRecommendedArtistsDao" ref="userRecommendedArtistsDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="userLovedTracksService" class="com.github.hakko.musiccabinet.service.lastfm.UserLovedTracksService">
		<property name="userLovedTracksClient" ref="userLovedTracksClient"/>
		<property name="userLovedTracksDao" ref="userLovedTracksDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
		<property name="trackLoveClient" ref="trackLoveClient"/>
		<property name="starService" ref="starService"/>
	</bean>

	<bean id="groupWeeklyArtistChartService" class="com.github.hakko.musiccabinet.service.lastfm.GroupWeeklyArtistChartService">
		<property name="groupWeeklyArtistChartClient" ref="groupWeeklyArtistChartClient"/>
		<property name="groupWeeklyArtistChartDao" ref="groupWeeklyArtistChartDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="lastFmDao" ref="lastFmDao"/>
	</bean>

	<bean id="tagTopArtistsService" class="com.github.hakko.musiccabinet.service.lastfm.TagTopArtistsService">
		<property name="tagTopArtistsClient" ref="tagTopArtistsClient"/>
		<property name="tagDao" ref="tagDao"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>
	
	<bean id="searchIndexUpdateSettingsService" class="com.github.hakko.musiccabinet.service.lastfm.SearchIndexUpdateSettingsService">
	</bean>

	<bean id="webserviceHistoryService" class="com.github.hakko.musiccabinet.service.lastfm.WebserviceHistoryService">
		<property name="searchIndexUpdateSettingsService" ref="searchIndexUpdateSettingsService"/>
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao"/>
	</bean>

	<bean id="tagService" class="com.github.hakko.musiccabinet.service.TagService">
		<property name="tagDao" ref="tagDao"/>
	</bean>

	<bean id="tagUpdateService" class="com.github.hakko.musiccabinet.service.TagUpdateService">
		<property name="lastFmDao" ref="lastFmDao"/>
		<property name="artistTopTagsDao" ref="artistTopTagsDao"/>
		<property name="tagUpdateClient" ref="tagUpdateClient"/>
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>

	<bean id="nameSearchService" class="com.github.hakko.musiccabinet.service.NameSearchService">
		<property name="nameSearchDao" ref="nameSearchDao"/>
	</bean>

	<bean id="artistRecommendationService" class="com.github.hakko.musiccabinet.service.ArtistRecommendationService">
		<property name="artistRecommendationDao" ref="artistRecommendationDao"/>
	</bean>

	<bean id="searchIndexUpdateExecutorService" class="com.github.hakko.musiccabinet.service.lastfm.SearchIndexUpdateExecutorService">
		<property name="throttleService" ref="throttleService"/>
	</bean>

	<bean id="playlistGeneratorService" class="com.github.hakko.musiccabinet.service.PlaylistGeneratorService">
		<property name="playlistGeneratorDao" ref="playlistGeneratorDao"/>
	</bean>
	
	<bean id="libraryUpdateService" class="com.github.hakko.musiccabinet.service.LibraryUpdateService">
        <property name="libraryScannerService" ref="libraryScannerService"/>
        <property name="libraryBrowserService" ref="libraryBrowserService"/>
        <property name="artistRelationService" ref="artistRelationService"/>
        <property name="artistTopTracksService" ref="artistTopTracksService"/>
        <property name="artistTopTagsService" ref="artistTopTagsService"/>
        <property name="artistInfoService" ref="artistInfoService"/>
        <property name="albumInfoService" ref="albumInfoService"/>
        <property name="scrobbledTracksService" ref="scrobbledTracksService"/>
        <property name="playlistGeneratorService" ref="playlistGeneratorService"/>
        <property name="tagInfoService" ref="tagInfoService"/>
        <property name="groupWeeklyArtistChartService" ref="groupWeeklyArtistChartService"/>
        <property name="tagTopArtistsService" ref="tagTopArtistsService"/>
        <property name="userTopArtistsService" ref="userTopArtistsService"/>
        <property name="userRecommendedArtistsService" ref="userRecommendedArtistsService"/>
        <property name="userLovedTracksService" ref="userLovedTracksService"/>
        <property name="searchIndexUpdateExecutorService" ref="searchIndexUpdateExecutorService"/>
        <property name="searchIndexUpdateSettingsService" ref="searchIndexUpdateSettingsService"/>
	</bean>
	
	
	<!--  LAST.FM WS CLIENTS -->
	<bean id="trackLoveClient" class="com.github.hakko.musiccabinet.ws.lastfm.TrackLoveClient"/>
	<bean id="trackUnLoveClient" class="com.github.hakko.musiccabinet.ws.lastfm.TrackUnLoveClient"/>

	<bean id="updateNowPlayingClient" class="com.github.hakko.musiccabinet.ws.lastfm.UpdateNowPlayingClient"/>

	<bean id="scrobbleClient" class="com.github.hakko.musiccabinet.ws.lastfm.ScrobbleClient"/>

	<bean id="tagUpdateClient" class="com.github.hakko.musiccabinet.ws.lastfm.TagUpdateClient"/>
	
	<bean id="authSessionClient" class="com.github.hakko.musiccabinet.ws.lastfm.AuthSessionClient"/>

	<bean id="radioPlaylistClient" class="com.github.hakko.musiccabinet.ws.lastfm.RadioPlaylistClient"/>
	
	<bean id="artistInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistInfoClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>	

	<bean id="albumInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.AlbumInfoClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>	

	<bean id="artistSimilarityClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistSimilarityClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>	

	<bean id="artistTopTracksClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistTopTracksClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>	

	<bean id="artistTopTagsClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistTopTagsClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>	

	<bean id="trackSimilarityClient" class="com.github.hakko.musiccabinet.ws.lastfm.TrackSimilarityClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>
	
	<bean id="scrobbledTracksClient" class="com.github.hakko.musiccabinet.ws.lastfm.ScrobbledTracksClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>
	
	<bean id="tagInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.TagInfoClient">
		<property name="throttleService" ref="throttleService"/>
	</bean>

	<bean id="userTopArtistsClient" class="com.github.hakko.musiccabinet.ws.lastfm.UserTopArtistsClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>

	<bean id="userRecommendedArtistsClient" class="com.github.hakko.musiccabinet.ws.lastfm.UserRecommendedArtistsClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
		<property name="lastFmDao" ref="lastFmDao"/>
	</bean>

	<bean id="userLovedTracksClient" class="com.github.hakko.musiccabinet.ws.lastfm.UserLovedTracksClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>

	<bean id="groupWeeklyArtistChartClient" class="com.github.hakko.musiccabinet.ws.lastfm.GroupWeeklyArtistChartClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>

	<bean id="tagTopArtistsClient" class="com.github.hakko.musiccabinet.ws.lastfm.TagTopArtistsClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
		<property name="throttleService" ref="throttleService"/>
	</bean>
	
	<!-- MUSICBRAINZ WS CLIENTS -->
	<bean id="artistQueryClient" class="com.github.hakko.musiccabinet.ws.musicbrainz.ArtistQueryClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>	

	<bean id="releaseClient" class="com.github.hakko.musiccabinet.ws.musicbrainz.ReleaseClient">
		<property name="webserviceHistoryService" ref="webserviceHistoryService"/>
	</bean>	


	<!--  DAOs  -->

	<bean id="directoryBrowserDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcDirectoryBrowserDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="libraryPresenceDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcLibraryPresenceDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="libraryAdditionDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcLibraryAdditionDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="libraryDeletionDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcLibraryDeletionDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="libraryBrowserDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcLibraryBrowserDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="musicDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="starDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcStarDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="playCountDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcPlayCountDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="trackPlayCountDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTrackPlayCountDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="webserviceHistoryDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcWebserviceHistoryDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="musicDao" ref="musicDao"/>
		<property name="lastFmDao" ref="lastFmDao"/>
	</bean>

	<bean id="trackRelationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTrackRelationDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="artistInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistInfoDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="albumInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcAlbumInfoDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="artistRelationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistRelationDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>
	
	<bean id="artistTopTracksDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistTopTracksDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="artistTopTagsDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistTopTagsDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="nameSearchDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcNameSearchDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>
	
	<bean id="playlistGeneratorDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcPlaylistGeneratorDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="artistRecommendationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistRecommendationDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="tagDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTagDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="lastFmSettingsService" ref="lastFmSettingsService"/>
	</bean>

	<bean id="tagInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTagInfoDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="lastFmDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcLastFmDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userTopArtistsDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcUserTopArtistsDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userRecommendedArtistsDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcUserRecommendedArtistsDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userLovedTracksDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcUserLovedTracksDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="groupWeeklyArtistChartDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcGroupWeeklyArtistChartDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="musicBrainzArtistDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicBrainzArtistDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="musicBrainzAlbumDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicBrainzAlbumDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="functionCountDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcFunctionCountDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="databaseAdministrationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcDatabaseAdministrationDao">
		<property name="dataSource" ref="dataSource"/>
		<property name="initialDataSource" ref="initialDataSource"/>
	</bean>


	<!--  DATA SOURCE -->

	<bean id="dataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${musiccabinet.jdbc.driverClassName}"/>
		<property name="jdbcUrl" value="${musiccabinet.jdbc.url}"/>
		<property name="user" value="${musiccabinet.jdbc.username}"/>
		<property name="password" value="${musiccabinet.jdbc.password}"/>

		<property name="testConnectionOnCheckout" value="true"/>
		<property name="acquireRetryAttempts" value="1"/>

		<property name="minPoolSize" value="15"/>
		<property name="maxPoolSize" value="40"/>
		<property name="initialPoolSize" value="15"/>
	</bean>

	<bean id="initialDataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${musiccabinet.jdbc.driverClassName}"/>
		<property name="jdbcUrl" value="${musiccabinet.jdbc.initialurl}"/>
		<property name="user" value="${musiccabinet.jdbc.username}"/>
		<property name="password" value="${musiccabinet.jdbc.password}"/>
		<property name="minPoolSize" value="1"/>
		<property name="maxPoolSize" value="2"/>
		<property name="initialPoolSize" value="1"/>
	</bean>
	
</beans>